*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 1rem;
}

h1,
h2 {
  margin-bottom: 2rem;
}

article {
  box-sizing: border-box;
  font-size: 16px;
  display: block;
  transition: 200ms;
  max-width: 96%;
  margin: 0 auto;
  padding: 0 2em;
}
article p {
  line-height: 2;
  margin-bottom: 2em;
}
@media (min-width: 900px) {
  article {
    max-width: 70%;
  }
}
@media (min-width: 1600px) {
  article {
    max-width: 60%;
  }
}

.toggle {
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

.indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
}
.indicator-width {
  background: darkmagenta;
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  width: 100%;
  transform-origin: 0 0;
  will-change: transform;
}

.indicator-position {
  position: fixed;
  top: 1rem;
  right: 8px;
  border-radius: 4px;
  color: white;
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px;
}

.indicator-info {
  position: fixed;
  top: 3rem;
  right: 8px;
  border-radius: 4px;
  color: white;
  width: 300px;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px;
}

.area-one {
  background: bisque;
  margin-bottom: 1rem;
  padding: 1rem;
}
.area-two {
  background: lavenderblush;
  margin-bottom: 1rem;
  padding: 1rem;
}
